<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
    <head>
        <%- include("meta"); -%>
        <script src="/lib/js/pace.min.js"></script>

        <link rel="stylesheet" href="/css/loader.css">
        <link rel="stylesheet" crossorigin="anonymous" href="https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome@5.13.1/css/all.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <header class="sidebar">
            <a class="top-item" href="/">Home</a>
            <div class="sidebar-content">
                <ul class="sidebar-elements">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/pr0-dev/" target="_blank">
                            <div class="inner-nav-wrap">
                                <i class="fab fa-github"></i>
                                <p>Source Code</p>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://pr0gramm.com/user/TheShad0w" target="_blank">
                            <div class="inner-nav-wrap">
                                <i class="fas fa-terminal"></i>
                                <p>TheShad0w</p>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <div class="inner-nav-wrap">
                                <i class="fas fa-question"></i>
                                <p>Über</p>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="sfc-generate" class="nav-link" href="#">
                            <div class="inner-nav-wrap">
                                <i class="fas fa-download"></i>
                                <p>Generieren</p>
                            </div>
                        </a>
                    </li>
                </ul>
              </div>
        </header>