<%- include("../layouts/header"); -%>
        <section class="main">
            <div class="error-inner">
                ZOMFG, <span class="glitch">404</span> ¯\_(ツ)_/¯
            </div>
        </section>
<%- include("../layouts/footer"); -%>
